<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left">
                            Customer Information
                        </h2>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndex">
                        <p-tabPanel header="Customer Information">
                            <table class="table table-customer-information">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong> Customer Name:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.issuerName }}</td>
                                    <td>
                                        <strong>{{nameDate}}:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.businessCommencementDate | date}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong> Address:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.address }} </td>
                                    <td>
                                        <strong>Postal Address:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.postalAddress || "N/A"}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong> Phone Number:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.phoneNumber }}</td>
                                    <td>
                                        <strong>Email:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.email}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong> Registration Number:</strong>
                                    </td>
                                    <td>{{ loanCustomerInformation?.incorporationNumber || "N/A"}}</td>
                                    <!--                                    <td>-->
                                    <!--                                        <strong>Company Website:</strong>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>{{ loanCustomerInformation?.companyWebsite}}</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </p-tabPanel>
                        <p-tabPanel header="Contact Information">

                          <form novalidate [formGroup]="contactForm">
                            <div class="form-group">
                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                Name of contact person
                              </label>
                              <div class="col-md-4">
                                <input
                                  type="text"
                                  name="nameOfContact"
                                  formControlName="nameOfContact"
                                  id="nameOfContact"
                                  class="form-control"
                                />
                              </div>
                              <div>
                                <label
                                  for=""
                                  class="control-label col-md-2"
                                >
                                  Phone Number
                                </label>
                                <div class="col-md-4">
                                  <input
                                    type="text"
                                    name="phoneNumber"
                                    formControlName="phoneNumber"
                                    id="phoneNumber"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                Email
                              </label>
                              <div class="col-md-4">
                                <input
                                  type="text"
                                  name="email"
                                  class="form-control"
                                  formControlName="email"
                                />
                              </div>
                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                Address
                              </label>
                              <div class="col-md-4">
                                <input
                                  type="text"
                                  name="address"
                                  class="form-control"
                                  formControlName="address"
                                />
                              </div>
                            </div>

                            <div class="form-group">

                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                Country
                              </label>
                              <div class="col-md-4">
                                <select
                                  name="countryId"
                                  class="form-control"
                                  formControlName="countryId"
                                  (change)="getStates($event.target.value)"
                                >
                                  <option value="" disabled
                                  >--Select Country--</option
                                  >
                                  <option
                                    *ngFor="
                                                        let country of countryInformation
                                                    "
                                    [value]="country.lookupId"
                                  >{{
                                      country.lookupName
                                    }}</option
                                  >
                                </select>
                              </div>
                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                State
                              </label>
                              <div class="col-md-4">
                                <select
                                  formControlName="stateId"
                                  name="stateId"
                                  class="form-control"
                                  (change)="getCities($event.target.value)"
                                >
                                  <option value="" disabled
                                  >--Select State--</option
                                  >
                                  <option
                                    *ngFor="let state of states"
                                    [value]="state.lookupId"
                                  >{{
                                      state.lookupName
                                    }}</option
                                  >
                                </select>
                              </div>
                            </div>

                            <div class="form-group">
                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                City
                              </label>
                              <div class="col-md-4">
                                <select
                                  formControlName="cityId"
                                  name="cityId"
                                  class="form-control"
                                >
                                  <option value="" disabled
                                  >--Select City--</option
                                  >
                                  <option
                                    *ngFor="
                                                        let city of cityList
                                                    "
                                    [value]="city.lookupId"
                                  >{{
                                      city.lookupName
                                    }}</option
                                  >
                                </select>
                              </div>

                              <label
                                for=""
                                class="control-label col-md-2"
                              >
                                Postal Address
                              </label>
                              <div class="col-md-4">
                                <input
                                  type="text"
                                  formControlName="postalAddress"
                                  name="postalAddress"
                                  class="form-control"
                                />
                              </div>
                            </div>
<!--                            <div class="form-group">-->
<!--                              <button-->
<!--                                class="btn btn-primary pull-right"-->
<!--                                (click)="-->
<!--                                                saveContactInfo(contactForm)-->
<!--                                            "-->
<!--                                style="margin-right: 20px"-->
<!--                              >-->
<!--                                Save Contact Information-->
<!--                              </button>-->
<!--                            </div>-->
                          </form>
                        </p-tabPanel>
                        <p-tabPanel  header="Documents">
                          <p-table
                            [value]="loanCustomerDocuments"
                            [responsive]="true"
                          >
                            <ng-template pTemplate="caption">
                              <h4>Investor Document(s)</h4>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="width:5em">S/N</th>
                                <th style="width:15em">
                                  Document Name
                                </th>
                                <th style="width:15em">
                                  Extention
                                </th>
                                <th style="width:15em">
                                  Physical Location
                                </th>
                                <th style="width:7em"></th>
                                <th style="width:7em"></th>
                              </tr>
                            </ng-template>
                            <ng-template
                              pTemplate="body"
                              let-x
                              let-i="rowIndex"
                            >
                              <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{ x.documentName }}</td>
                                <td>{{ x.documentExtension }}</td>
                                <td>{{ x.physicalLocation }}</td>
                                <td>
                                  <a
                                    *ngIf="
                                                        [
                                                            '.jpg',
                                                            '.jpeg',
                                                            '.png'
                                                        ].indexOf(
                                                            x.documentExtension.toLowerCase()
                                                        ) > -1
                                                    "
                                    (click)="
                                                        viewDocument(
                                                            x
                                                        )
                                                    "
                                    href="javascript:void(0)"
                                  >View</a
                                  >
                                  <a
                                    *ngIf="
                                                        [
                                                            '.doc',
                                                            '.docx',
                                                            '.pdf',
                                                            '.xls',
                                                            '.xlsx'
                                                        ].indexOf(
                                                            x.documentExtension.toLowerCase()
                                                        ) > -1
                                                    "
                                    (click)="
                                                        DownloadDocument(
                                                            x
                                                        )
                                                    "
                                    href="javascript:void(0)"
                                  >Download</a
                                  >
                                </td>
                                <td>
                                  <a
                                    (click)="
                                                        deleteLoanCustoemrDocument(
                                                            x
                                                        )
                                                    "
                                  >Delete</a
                                  >
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </p-tabPanel>
                    </p-tabView>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button pButton type="button"  class="btn btn-primary pull-right"
                                *ngIf="displayIndividualCustomer && activeIndex >= 0 && activeIndex < 4 || displayCorperatCustomer && activeIndex >= 0 && activeIndex < 3" (click)="openNext()" icon="pi pi-less-than" iconPos="right"
                                label="Next"></button>
                        <button pButton type="button" class="btn btn-primary pull-right" style="margin-right:10px"
                                *ngIf="activeIndex > 0" (click)="openPrev()" icon="pi pi-greater-than" iconPos="left"
                                label="Previous"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocument" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                Document Title:
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayDocument=false">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:500px">
            <div style="margin: auto; width: 50%">
                <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile" alt=""
                     class="img-thumbnail">
            </div>
        </div>

    </div>
</p-dialog>
