<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">
                {{ formTitle }}
              </h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="form">
              <div class="form-group">
                <label for="issuerRegistrationId" class="control-label col-md-2"
                  >Issuer</label
                >
                <div class="col-md-4">
                  <select
                    type="text"
                    name="issuerRegistrationId"
                    formControlName="issuerRegistrationId"
                    id="issuerRegistrationId"
                    class="form-control"
                  >
                    <option value="">-- Select Issuer --</option>
                    <option
                      *ngFor="let row of customers"
                      [value]="row.issuerRegistrationId"
                    >
                      {{ row.issuerName }}
                    </option>
                  </select>
                </div>
                <label for="" class="control-label col-md-2">Product</label>
                <div class="col-md-4">
                  <select
                    type="text"
                    name="productId"
                    formControlName="productId"
                    id="productId"
                    class="form-control"
                    disabled
                  >
                    <option value="">-- Select Product --</option>
                    <option
                      *ngFor="let row of productTypeList"
                      [value]="row.productId"
                    >
                      {{ row.productName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Proposed Tenor
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="proposedTenor"
                    name="proposedTenor"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Proposed Rate
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="proposedRate"
                    formControlName="proposedRate"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Frequency
                </label>
                <div class="col-md-4">
                  <select
                    type="text"
                    name="frequencyId"
                    formControlName="frequencyId"
                    id="frequencyId"
                    class="form-control"
                    disabled
                  >
                    <option value="">-- Select Frequency --</option>
                    <option
                      *ngFor="let row of frequencyTypeList"
                      [value]="row.lookupId"
                    >
                      {{ row.lookupName }}
                    </option>
                  </select>
                </div>
                <label for="" class="control-label col-md-2">
                  Period
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="period"
                    formControlName="period"
                    id="period"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Proposed Amount
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="proposedAmount"
                    formControlName="proposedAmount"
                    id="proposedAmount"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Currency
                </label>
                <div class="col-md-4">
                  <select
                    formControlName="currencyId"
                    name="currencyId"
                    class="form-control"
                    disabled
                  >
                    <option value="" disabled>--Select Currency--</option>
                    <option
                      [value]="currency.lookupId"
                      *ngFor="let currency of currencies"
                      >{{ currency.lookupName }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Effective Date
                </label>
                <div class="col-md-4">
                  <p-calendar
                    class="form-control"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [showIcon]="true"
                    yearRange="1900:2100"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{
                      width: '100%',
                      'z-index': '999'
                    }"
                    formControlName="effectiveDate"
                    [disabled]="true"
                  ></p-calendar>
                </div>
                <label for="" class="control-label col-md-2">
                  Investment Purpose
                </label>
                <div class="col-md-4">
                  <textarea
                    type="text"
                    formControlName="investmentPurpose"
                    name="investmentPurpose"
                    class="form-control"
                    style="resize: none"
                    disabled
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Collection Date
                </label>
                <div class="col-md-4">
                  <input type="date" class="form-control" name="instrumentDate" formControlName="collectionDate"/>
<!--                  <p-calendar-->
<!--                    class="form-control"-->
<!--                    [monthNavigator]="true"-->
<!--                    [yearNavigator]="true"-->
<!--                    [showIcon]="true"-->
<!--                    yearRange="1900:2100"-->
<!--                    [inputStyle]="{ width: '100%' }"-->
<!--                    [style]="{-->
<!--                      width: '100%',-->
<!--                      'z-index': '999'-->
<!--                    }"-->
<!--                    formControlName="collectionDate"-->
<!--                  ></p-calendar>-->
                </div>
                <label for="" class="control-label col-md-2">
                  Amount Receivable
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="amountReceivable"
                    formControlName="amountReceivable"
                    id="amountPayable"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <!--                            <div class="form-group">-->
              <!--                                <ng-container *ngIf="form.value.instrumentId == 2">-->
              <!--                                    <label-->
              <!--                                        for=""-->
              <!--                                        class="control-label col-md-2"-->
              <!--                                    >-->
              <!--                                        Instrument Date-->
              <!--                                    </label>-->
              <!--                                    <div class="col-md-4">-->
              <!--                                        <p-calendar-->
              <!--                                            class="form-control"-->
              <!--                                            [monthNavigator]="true"-->
              <!--                                            [yearNavigator]="true"-->
              <!--                                            [showIcon]="true"-->
              <!--                                            yearRange="1900:2100"-->
              <!--                                            [inputStyle]="{ width: '100%' }"-->
              <!--                                            [style]="{-->
              <!--                                                width: '100%',-->
              <!--                                                'z-index': '999'-->
              <!--                                            }"-->
              <!--                                            formControlName="instrumentDate"-->
              <!--                                        ></p-calendar>-->
              <!--                                    </div>-->
              <!--                                </ng-container>-->
              <!--                                <label-->
              <!--                                    for=""-->
              <!--                                    class="control-label col-md-2"-->
              <!--                                >-->
              <!--                                    Enable Rollover-->
              <!--                                </label>-->
              <!--                                <div class="col-md-4">-->
              <!--                                    <input type="checkbox" class="checkbox" name="enableRollOver" formControlName="enableRollOver">-->
              <!--                                </div>-->
              <!--                            </div>-->
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button
                style="margin-right:5px"
                type="button"
                class="btn btn-primary pull-right"
                (click)="submitCollection(form)"
              >
                Save
              </button>
              <button
                type="button"
                style="margin-right:5px"
                class="btn btn-danger pull-right"
                (click)="goBack()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
