<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">
                {{ formTitle }}
              </h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="reassesForm">
              <div class="form-group">
                <label for="assetNumber" class="control-label col-md-2"
                >Asset Number
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="assetNumber"
                    formControlName="assetNumber"
                    class="form-control"
                    id="assetNumber"
                    disabled
                  />
                </div>
                <label for="lpoNumber" class="control-label col-md-2">
                  LPO Number
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="lpoNumber"
                    id="lpoNumber"
                    class="form-control"
                    formControlName="lpoNumber"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label
                  for="assetClassificationId"
                  class="control-label col-md-2"
                >
                  Classification
                </label>
                <div class="col-md-4">
                  <select
                    name="assetClassificationId"
                    id="assetClassificationId"
                    class="form-control"
                    formControlName="assetClassificationId"
                    disabled
                  >
                    <option value="" selected disabled>--Select Item--</option>
                    <option
                      *ngFor="let item of assetClassifications"
                      [value]="item.asetClassificationId"
                    >{{ item.classificationName }}</option
                    >
                  </select>
                </div>
                <label for="description" class="control-label col-md-2"
                >Description</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    id="description"
                    formControlName="description"
                    name="description"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="cost" class="control-label col-md-2">
                  Cost
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="cost"
                    class="form-control"
                    id="cost"
                    name="cost"
                    disabled
                  />
                </div>
                <label for="dateOfPurchaase" class="control-label col-md-2">
                  Date of Purchase
                </label>
                <div class="col-md-4">
                  <p-calendar
                    class="form-control"
                    id="dateOfPurchaase"
                    formControlName="dateOfPurchaase"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    yearRange="1900:2100"
                    [showIcon]="true"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{ width: '100%', 'z-index': '100' }"
                    [disabled]="true"
                  ></p-calendar>
                </div>
              </div>
              <div class="form-group">
                <label for="quantity" class="control-label col-md-2">
                  Quantity
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="quantity"
                    name="quantity"
                    id="quantity"
                    disabled
                  />
                </div>

                <label
                  for="depreciationStartDate"
                  class="control-label col-md-2"
                >
                  Depreciation Start Date
                </label>
                <div class="col-md-4">
                  <p-calendar
                    class="form-control"
                    id="depreciationStartDate"
                    formControlName="depreciationStartDate"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    yearRange="1900:2100"
                    [showIcon]="true"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{ width: '100%', 'z-index': '100' }"
                    [disabled]="true"
                  ></p-calendar>
                </div>
              </div>
              <div class="form-group">
                <label for="usefulLife" class="control-label col-md-2"
                >Useful Life</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    id="usefulLife"
                    formControlName="usefulLife"
                    disabled
                  />
                </div>
                <label for="residualValue" class="control-label col-md-2"
                >Residual Value</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    id="residualValue"
                    formControlName="residualValue"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="control-label col-md-2"
                >Location</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="location"
                    name="location"
                    id="location"
                    class="form-control"
                    disabled
                  />
                </div>
                <label
                  for="depreciationForThePeriod"
                  class="control-label col-md-2"
                >
                  Depreciation for the period
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="depreciationForThePeriod"
                    id="depreciationForThePeriod"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label
                  for="accumulatedDepreciation"
                  class="control-label col-md-2"
                >Accumulated Depreciation</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="accumulatedDepreciation"
                    name="accumulatedDepreciation"
                    id="accumulatedDepreciation"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="netBookValue" class="control-label col-md-2">
                  Netbook value
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="netBookValue"
                    id="netBookValue"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="remainingUsefulLife" class="control-label col-md-2">Remaining useful life </label>
                <div class="col-md-4">
                  <input type="text" id="remainingUsefulLife" class="form-control" formControlName="remainingUsefulLife" disabled>
                </div>
                <label for="proposedResidualValue" class="control-label col-md-2">Proposed residual value </label>
                <div class="col-md-4">
                  <input type="text" id="proposedResidualValue" class="form-control" formControlName="proposedResidualValue">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button
                style="margin-right:5px"
                type="button"
                [disabled]="!reassesForm.valid"
                class="btn btn-primary pull-right"
                (click)="submitInfo(reassesForm)"
              >
                Save
              </button>
              <button
                type="button"
                style="margin-right:5px"
                class="btn btn-danger pull-right"
                (click)="goBack()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
