<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">
              Asset Classification
            </h2>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised ui-button-danger"
                (click)="multipleDelete()"
                icon="ui-icon-delete"
                iconPos="center"
                pTooltip="Delete"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised"
                (click)="showAddNew()"
                icon="ui-icon-plus"
                iconPos="center"
                pTooltip="Add"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised ui-button-secondary"
                (click)="exportItems()"
                icon="ui-icon-file-download"
                pTooltip="Download"
                tooltipPosition="top"
                iconPos="center"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                type="button"
                style="padding:0.5em 0"
                class="ui-button-raised ui-button-secondary"
                (click)="uploadItems()"
                icon="ui-icon-file-upload"
                iconPos="center"
                pTooltip="Excel file: Name, Useful Life(min), Useful Life(max), Residual value, Depreciable(TRUE/FALSE)"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
              <input
                style="height:35px;"
                class="form-control"
                type="file"
                (change)="handleFileInput($event.target.files)"
                id="file1"
                accept=".xls,.xlsx"
                #fileInput
                name="fileInput"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="form-horizontal">
          <p-table
              #dt
              [columns]="cols"
              [value]="setUpLists"
              dataKey="asetClassificationId"
              [(selection)]="selectedItem"
              [paginator]="false"
              [rows]="setUpLists?.length"
              [responsive]="true"
              [scrollable]="true"
              [scrollHeight]="viewHeight"
          >
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <input
                  type="text"
                  pInputText
                  size="50"
                  class="form-control"
                  placeholder="Search..."
                  (keyup)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="checkbox_row">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="sn_width">S/N</th>
                <th [pSortableColumn]="'classificationName'">
                  Name

                </th>
                <th [pSortableColumn]="'usefulLifeMin'">
                  Useful Life(Min)

                </th>
                <th [pSortableColumn]="'usefulLifeMax'">
                  Useful Life(Max)

                </th>
                <th [pSortableColumn]="'residualValue'">
                  Residual Value

                </th>
                <th>Depreciable</th>
<!--                <th [pSortableColumn]="'depreciationMethod'">-->
<!--                  Depreciation Method-->
<!--                  <i class="ui-icon-arrow-drop-down sort&#45;&#45;icon__special"></i>-->
<!--                </th>-->
                <!-- <th [pSortableColumn]="'subGlAddition'">
                  Sub GL for Addition

                </th>
                <th [pSortableColumn]="'subGlDepreciation'">
                  Depreciation  Charge Sub GL

                </th>
                <th [pSortableColumn]="'subGlAccumulatedDepreciation'">
                  Accumulated Depreciation Charge  Sub GL

                </th>
                <th [pSortableColumn]="'subGlDisposal'">
                  Disposal Sub GL

                </th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-x let-i="rowIndex">
              <tr [pSelectableRow]="x">
                <td class="checkbox_row">
                  <p-tableCheckbox [value]="x"></p-tableCheckbox>
                </td>
                <td class="sn_width">
                  <a class="table_link">{{ i + 1 }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.classificationName
                    }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.usefulLifeMin
                    }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.usefulLifeMax
                    }}</a>
                </td>

                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.residualValue
                    }}</a>
                </td>
                <td>
                  <a *ngIf="x.depreciable" class="table_link" (click)="editItem(x)">Yes</a>
                  <a *ngIf="!x.depreciable" class="table_link" (click)="editItem(x)">No</a>
                </td>
<!--                <td>-->
<!--                  <a class="table_link" (click)="editItem(x)">{{-->
<!--                      x.depreciationMethod-->
<!--                    }}</a>-->
<!--                </td>-->
                <!-- <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.subGlAddition
                    }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.subGlDepreciation
                    }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.subGlAccumulatedDepreciation
                    }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x)">{{
                      x.subGlDisposal
                    }}</a>
                </td> -->

                <!--                                <td><a class="table_link"-->
                <!--                                       (click)="editProduct(x)">{{ x.paymentTypeName }}</a></td>-->
                <!--                                <td><a class="table_link"-->
                <!--                                       (click)="editProduct(x)">{{ x.rate }}</a></td>-->
                <!--                                <td>-->
                <!--                                    <a (click)="editProduct(x)">Edit</a>-->
                <!--                                </td>-->
                <!--                                <td>-->
                <!--                                    <a (click)="deleteProduct(x)">Delete</a>-->
                <!--                                </td>-->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <!-- <button pButton type="button" class="btn btn-primary pull-right" *ngIf="activeIndex < 5" (click)="openNext()" icon="pi pi-less-than" iconPos="right"
                label="Next"></button>
            <button pButton type="button" class="btn btn-primary pull-right" style="margin-right:10px" *ngIf="activeIndex > 0" (click)="openPrev()" icon="pi pi-greater-than" iconPos="left"
                label="Previous"></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
