<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div style="margin-bottom: 0" class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">PRN Approvals</h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p-tabView [activeIndex]="activeIndex" (onChange)="tabChange($event)">
            <p-tabPanel header="PRN Awaiting Approvals">
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="row">
                    <div class="col-md-12">
                      <p-table
                        #dt
                        [columns]="cols"
                        [value]="prnApprovals"
                        [scrollable]="true"
                        [scrollHeight]="viewHeight"
                        [responsive]="true"
                      >
                        <ng-template pTemplate="caption">
                          <div style="text-align: right">
                            <input
                              type="text"
                              pInputText
                              size="50"
                              class="form-control"
                              placeholder="Search..."
                              (keyup)="
                                dt.filterGlobal($event.target.value, 'contains')
                              "
                              style="width: auto"
                            />
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="sn_width">S/N</th>
                            <th [pSortableColumn]="'prnNumber'">PRN Number</th>
                            <th [pSortableColumn]="'requestBy'">
                              Requester Name
                            </th>
                            <th [pSortableColumn]="'departmentName'">
                              Department
                            </th>
                            <th [pSortableColumn]="'description'">
                              Description
                            </th>
                            <th [pSortableColumn]="'total'">Total Amount</th>
                            <th [pSortableColumn]="'requestDate'">
                              Requisition Date
                            </th>
                            <th [pSortableColumn]="'expectedDeliveryDate'">
                              Expected Delivery Date
                            </th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-x let-i="rowIndex">
                          <tr>
                            <td class="sn_width">{{ i + 1 }}</td>
                            <td>{{ x.prnNumber }}</td>
                            <td>{{ x.requestBy }}</td>
                            <td>{{ x.departmentName }}</td>
                            <td>{{ x.description }}</td>
                            <td>{{ x.total | number: "2.0" }}</td>
                            <td>{{ x.requestDate | date }}</td>
                            <td>{{ x.expectedDeliveryDate | date }}</td>
                            <td>
                              <a (click)="viewApprovalDetails(x)">Select</a>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="PRN Details" [disabled]="!tabSelected">
              <div style="margin-bottom: 0" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">PRN</h2>
                </div>

                <div class="panel-body">
                  <div class="form-horizontal">
                    <table class="table table-customer-information">
                      <tbody>
                        <tr>
                          <td>
                            <strong>Request By</strong>
                          </td>
                          <td>{{ prnDetails?.requestBy }}</td>
                          <td>
                            <strong>Description</strong>
                          </td>
                          <td>{{ prnDetails?.description }}</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Expected Delivery Date</strong>
                          </td>
                          <td>{{ prnDetails?.expectedDeliveryDate | date }}</td>
                          <td>
                            <strong>Delivery Location</strong>
                          </td>
                          <td>{{ prnDetails?.deliveryLocation }}</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Total Amount</strong>
                          </td>
                          <td>{{ prnDetails?.total }}</td>
                        </tr>
                        <br />
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="ui-g">
                  <div class="ui-g-12 no-padding">
                    <div class="card no-padding">
                      <div style="margin-bottom: 0" class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-md-12">
                              <h2 class="panel-title pull-left">
                                <strong>PRN DETAILS</strong>
                              </h2>
                            </div>
                          </div>
                        </div>

                        <div class="panel-body">
                          <div class="form-horizontal">
                            <div class="row">
                              <div class="col-md-12">
                                <p-table
                                  [value]="prnDetail"
                                  [scrollable]="true"
                                  [scrollHeight]="viewHeight"
                                  [responsive]="true"
                                  dataKey="prnDetailsId"
                                  editMode="row"
                                >
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th class="sn_width">S/N</th>
                                      <th>Description</th>
                                      <th>Quantity</th>
                                      <th>Unit Price</th>
                                      <th>Subtotal</th>
                                      <th>Suppliers</th>
                                      <th
                                        *ngIf="canEditPrivilege"
                                        style="width: 12em"
                                      ></th>
                                    </tr>
                                  </ng-template>
                                  <ng-template
                                    pTemplate="body"
                                    let-editing="editingMode"
                                    let-item
                                    let-i="rowIndex"
                                  >
                                    <tr [pEditableRow]="item">
                                      <td class="sn_width">{{ i + 1 }}</td>
                                      <td>{{ item.description }}</td>
                                      <td>
                                        <p-cellEditor>
                                          <ng-template pTemplate="input">
                                            <input
                                              type="number"
                                              class="form-control"
                                              [(ngModel)]="item.quantity"
                                              (input)="
                                                calculateSubTotal(
                                                  $event.target.value,
                                                  item.unitPrice,
                                                  item
                                                )
                                              "
                                            />
                                          </ng-template>
                                          <ng-template pTemplate="output">
                                            {{ item.quantity }}
                                          </ng-template>
                                        </p-cellEditor>
                                      </td>
                                      <td>
                                        <p-cellEditor>
                                          <ng-template pTemplate="input">
                                            <input
                                              type="number"
                                              class="form-control"
                                              [(ngModel)]="item.unitPrice"
                                              (input)="
                                                calculateSubTotal(
                                                  item.quantity,
                                                  $event.target.value,
                                                  item
                                                )
                                              "
                                            />
                                          </ng-template>
                                          <ng-template pTemplate="output">
                                            {{ item.unitPrice | number }}
                                          </ng-template>
                                        </p-cellEditor>
                                      </td>
                                      <td>
                                        {{ item.subTotal | number: "1.2-2" }}
                                      </td>
                                      <td>{{ item.suppliers }}</td>
                                      <td
                                        *ngIf="canEditPrivilege"
                                        style="text-align: center; width: 12em"
                                      >
                                        <button
                                          *ngIf="
                                            !editingMode.includes(
                                              item.prnDetailsId
                                            )
                                          "
                                          pButton
                                          type="button"
                                          style="border-radius: 0"
                                          pInitEditableRow
                                          label="Adjust"
                                          class="ui-button-info"
                                          (click)="onRowEditInit(item, i)"
                                        ></button>
                                        <button
                                          *ngIf="
                                            editingMode.includes(
                                              item.prnDetailsId
                                            )
                                          "
                                          pButton
                                          type="button"
                                          pSaveEditableRow
                                          label="Save"
                                          class="ui-button-success"
                                          style="margin-right: 0.5em"
                                          (click)="onRowEditSave(item)"
                                        ></button>
                                        <button
                                          *ngIf="
                                            editingMode.includes(
                                              item.prnDetailsId
                                            )
                                          "
                                          pButton
                                          type="button"
                                          style="border-radius: 0"
                                          pCancelEditableRow
                                          label="Close"
                                          class="ui-button-danger"
                                          (click)="
                                            onRowEditCancel(item.prnDetailsId)
                                          "
                                        ></button>
                                      </td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="col-md-12"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-g">
                  <div class="ui-g-12 no-padding">
                    <div class="card no-padding">
                      <div style="margin-bottom: 0" class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-md-12">
                              <h2 class="panel-title pull-left">Approval</h2>
                            </div>
                          </div>
                        </div>

                        <div class="panel-body">
                          <div class="form-horizontal">
                            <div class="row">
                              <div class="col-md-12">
                                <div style="display: flex">
                                  <label class="col-md-2 control-label">
                                    <strong>Comment</strong>
                                  </label>

                                  <div class="col-md-4">
                                    <textarea
                                      class="form-control"
                                      [(ngModel)]="prnDetails.approvalComment"
                                      name="comment"
                                      cols="15"
                                      rows="3"
                                    ></textarea>
                                  </div>

                                  <label class="col-md-2 control-label">
                                    <strong>Status</strong>
                                  </label>
                                  <div class="col-md-4">
                                    <select
                                      name="approvalStatusId"
                                      id="approvalStatusId"
                                      class="form-control"
                                      (change)="getValue($event.target.value)"
                                      [(ngModel)]="prnDetails.approvalStatus"
                                      [ngClass]="
                                        !prnDetails.approvalStatus
                                          ? 'required-input'
                                          : 'valid-input'
                                      "
                                    >
                                      <option value="">
                                        --- Select Approval ---
                                      </option>
                                      <option value="2">Approve</option>
                                      <option value="3">Disapprove</option>
                                      <option value="5">Revert</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="col-md-12">
                              <button
                                type="submit"
                                [disabled]="
                                  !prnDetails.approvalComment ||
                                  !prnDetails.approvalStatus
                                "
                                (click)="submitApproval(prnDetails)"
                                class="btn btn-success pull-right"
                              >
                                Save
                              </button>
                              <button
                                type="button"
                                (click)="activeIndex = 0"
                                style="margin-right: 5px"
                                class="btn btn-danger pull-right"
                              >
                                Close
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Approval Details" [disabled]="!tabSelected">
              <app-approval-details
                [approvalDetails]="approvalDetails"
              ></app-approval-details>
            </p-tabPanel>
          </p-tabView>
        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [responsive]="true"
  [(visible)]="showDialog"
  id="modal"
  modal="modal"
  showEffect="fade"
  width="800"
>
  <div style="margin-bottom: 0; width: 700px" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Revert to staff</h2>
    </div>

    <div class="panel-body" style="margin: 0 30px">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="staff" class="control-label col-md-2">Staffs</label>
          <select
            name="staff"
            id="staff"
            class="form-control"
            [(ngModel)]="staffId"
            (change)="dismissDialog()"
          >
            <option value="" [selected]="true" [disabled]="true">
              --Select Staff--
            </option>
            <option *ngFor="let item of staffs" [value]="item.staffId">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
