<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">
                {{ formTitle }}
              </h2>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="form">
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  City Code
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="cityCode"
                    name="cityCode"
                    class="form-control"
                  />
                </div>

                <label for="" class="control-label col-md-2">
                  City Name
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="cityName"
                    name="cityName"
                    class="form-control"
                  />
                </div>

                <label for="" class="control-label col-md-2">
                  State
                </label>
                <div class="col-md-4">
                  <select
                    type="text"
                    name="stateId"
                    formControlName="stateId"
                    id="stateId"
                    class="form-control"
                    style="margin-top: 10px"
                    (change)="parseValueToInt($event.target.value)"
                  >
                    <option value="">-- Select State --</option>
                    <option *ngFor="let row of stateList" [value]="row.lookupId">
                      {{ row.lookupName }}
                    </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button
                style="margin-right:5px"
                type="button"
                [disabled]="!form.valid"
                class="btn btn-primary pull-right"
                (click)="submitCityInfo(form)"
              >
                Save
              </button>
              <button
                type="button"
                style="margin-right:5px"
                class="btn btn-danger pull-right"
                (click)="goBack()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
