<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom: 0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">Claims</h2>
            <div
              style="padding-right: 5px; padding-left: 5px; width: 45px"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding: 0.5em 0"
                type="button"
                class="ui-button-raised"
                (click)="showAddNew()"
                icon="ui-icon-plus"
                iconPos="center"
                pTooltip="Add"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px; padding-left: 5px; width: 45px"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding: 0.5em 0"
                type="button"
                class="ui-button-raised ui-button-secondary"
                (click)="exportItems()"
                icon="ui-icon-file-download"
                pTooltip="Download"
                tooltipPosition="top"
                iconPos="center"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px; padding-left: 5px; width: 45px"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                type="button"
                style="padding: 0.5em 0"
                class="ui-button-raised ui-button-secondary"
                (click)="uploadItems()"
                icon="ui-icon-file-upload"
                iconPos="center"
                pTooltip="Excel file: Claim No, Description, Staff, Department, Amount Requested, Date Requested, Cost Center, Classification, Account To Bank Name, Account To Fund Name, Account To Fund Number"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
              <input
                style="height: 35px"
                class="form-control"
                type="file"
                (change)="handleFileInput($event.target.files)"
                id="file1"
                accept=".xls,.xlsx"
                #fileInput
                name="fileInput"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="form-horizontal">
          <p-table
            #dt
            [columns]="cols"
            [value]="claims"
            dataKey="retirementId"
            [(selection)]="selectedItem"
            [paginator]="false"
            [responsive]="true"
            [scrollable]="true"
            [scrollHeight]="viewHeight"
          >
            <ng-template pTemplate="caption">
              <div>
                <input
                  type="text"
                  pInputText
                  size="50"
                  class="form-control filter-input"
                  placeholder="Search..."
                  (keyup)="dt.filterGlobal($event.target.value, 'contains')"
                />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="checkbox_row">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="sn_width">S/N</th>
                <th [pSortableColumn]="'claimNo'">Claim Number</th>
                <th [pSortableColumn]="'requestByName'">Employee</th>
                <th pSortableColumn="departmentName">Department</th>
                <th pSortableColumn="amountRequesting">Amount</th>
                <th [pSortableColumn]="'dateRequested'">Date Requested</th>
                <th [pSortableColumn]="'classificationsetupQuery'">
                  Expense Classification
                </th>

                <th [pSortableColumn]="'costCentreName'">Cost Centre</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-x let-i="rowIndex">
              <tr [pSelectableRow]="x">
                <td class="checkbox_row">
                  <p-tableCheckbox [value]="x"></p-tableCheckbox>
                </td>
                <td class="sn_width">
                  <a class="table_link">{{ i + 1 }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.claimNo
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.requestByName
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.departmentName
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.amountRequesting | number: "1.2-2"
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.dateRequested | date
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.classificationsetupQuery.name
                  }}</a>
                </td>
                <td>
                  <a class="table_link" (click)="editItem(x.newClaimID)">{{
                    x.costCentreName
                  }}</a>
                </td>
                <!--                                <td><a class="table_link"-->
                <!--                                       (click)="editProduct(x)">{{ x.paymentTypeName }}</a></td>-->
                <!--                                <td><a class="table_link"-->
                <!--                                       (click)="editProduct(x)">{{ x.rate }}</a></td>-->
                <!--                                <td>-->
                <!--                                    <a (click)="editProduct(x)">Edit</a>-->
                <!--                                </td>-->
                <!--                                <td>-->
                <!--                                    <a (click)="deleteProduct(x)">Delete</a>-->
                <!--                                </td>-->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <!-- <button pButton type="button" class="btn btn-primary pull-right" *ngIf="activeIndex < 5" (click)="openNext()" icon="pi pi-less-than" iconPos="right"
                label="Next"></button>
            <button pButton type="button" class="btn btn-primary pull-right" style="margin-right:10px" *ngIf="activeIndex > 0" (click)="openPrev()" icon="pi pi-greater-than" iconPos="left"
                label="Previous"></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
