<section class="login-wrapper">
  <div class="login-container">
    <div class="logo-wrapper">
      <img
        class="logo-img"
        src="../../../assets/layout/images/loan.png"
        alt=""
      />
    </div>
    <div class="form-container">
      <form action="" class="form" [formGroup]="form">
        <!--        <img src="../../../assets/layout/images/ERP%20LOGO.png" alt="">-->
        <h3 class="login-header">
          Forgot Password
        </h3>
        <div class="input-wrapper">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="input-control"
            placeholder="New Password"
            formControlName="newPassword"
          />
        </div>
        <div class="input-wrapper">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="input-control"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </div>
        <button class="input-btn" (click)="resetPassword(form)">Submit</button>
      </form>
    </div>
  </div>
</section>
