<!--<section id="wrapper" class="login-register">-->
<!--  <div class="login-left">-->
<!--    <div class="login-logo">-->
<!--      <img src="../../../assets/layout/images/logo2x.png" alt="Home" height="50" width="250" />-->
<!--    </div>-->
<!--    <div class="login-svg"></div>-->
<!--  </div>-->
<!--  <div class="login-box login-sidebar">-->
<!--    <div class="white-box">-->
<!--      <form [formGroup]="form" class="form-horizontal form-material">-->
<!--        <a href="javascript:void(0)" class="text-center db m-t-100">-->
<!--          <img src="../../../assets/layout/images/logo2x.png" alt="Home" height="40" width="200" />-->
<!--        </a>-->

<!--        <div class="form-group m-t-60">-->
<!--          <div class="col-xs-12">-->
<!--            <input name="email" class="form-control" type="email" formControlName="email" placeholder="Email" />-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group m-t-40">-->
<!--          <div class="col-xs-12">-->
<!--&lt;!&ndash;            <div style="display: none">&ndash;&gt;-->
<!--&lt;!&ndash;              <input type="text" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <input name="password" class="form-control" type="text" formControlName="otp"-->
<!--                   placeholder="OTP"  />-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="form-group text-center m-t-40">-->
<!--          <div class="col-xs-12">-->
<!--            <button (click)="onSubmit(form)" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light btn_special"-->
<!--                    type="submit">-->
<!--              Confirm-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<section class="login-wrapper">
  <div class="login-container">
    <div class="logo-wrapper">
      <img class="logo-img" src="../../../assets/layout/images/loan.png" alt="">
    </div>
    <div class="form-container">
      <form action="" class="form" [formGroup]="form">
<!--        <img src="../../../assets/layout/images/logo2x.png" alt="">-->
        <h3 class="login-header">
          Enter OTP
        </h3>
        <div class="input-wrapper">
          <label for="email">Email</label>
          <input type="text" id="email" class="input-control" placeholder="Email Address" formControlName="email">
        </div>
        <div class="input-wrapper">
          <label for="otp">OTP</label>
          <input type="text" id="otp" class="input-control" placeholder="One Time Password" formControlName="otp">
        </div>
        <button class="input-btn" (click)="onSubmit(form)">Submit</button>
      </form>
    </div>
  </div>
</section>
