<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">
                {{ formTitle }}
              </h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="form">
              <div class="form-group">
                <label
                  for="investorFundCustomerId"
                  class="control-label col-md-2"
                  >Customer</label
                >
                <div class="col-md-4">
                  <select
                    type="text"
                    name="investorFundCustomerId"
                    formControlName="investorFundCustomerId"
                    id="investorFundCustomerId"
                    class="form-control"
                    disabled
                  >
                    <option value="">-- Select Customer --</option>
                    <option
                      *ngFor="let row of customers"
                      [value]="row.investorFundCustomerId"
                    >
                      {{ row.customerName }}
                    </option>
                  </select>
                </div>
                <label for="" class="control-label col-md-2">Product</label>
                <div class="col-md-4">
                  <select
                    type="text"
                    name="productId"
                    formControlName="productId"
                    id="productId"
                    class="form-control"
                    disabled
                  >
                    <option value="">-- Select Product --</option>
                    <option
                      *ngFor="let row of productTypeList"
                      [value]="row.productId"
                    >
                      {{ row.productName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Tenor
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    formControlName="proposedTenor"
                    name="proposedTenor"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Rate
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="proposedRate"
                    formControlName="proposedRate"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Frequency
                </label>
                <div class="col-md-4">
                  <select
                    type="text"
                    name="frequencyId"
                    formControlName="frequencyId"
                    id="frequencyId"
                    class="form-control"
                    disabled
                  >
                    <option value="">-- Select Frequency --</option>
                    <option
                      *ngFor="let row of frequencyTypeList"
                      [value]="row.lookupId"
                    >
                      {{ row.lookupName }}
                    </option>
                  </select>
                </div>
                <label for="" class="control-label col-md-2">
                  Period
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="period"
                    formControlName="period"
                    id="period"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Amount
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="proposedAmount"
                    formControlName="proposedAmount"
                    id="proposedAmount"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Currency
                </label>
                <div class="col-md-4">
                  <select
                    formControlName="currencyId"
                    name="currencyId"
                    class="form-control"
                    disabled
                  >
                    <option value="" disabled>--Select Currency--</option>
                    <option
                      [value]="currency.lookupId"
                      *ngFor="let currency of currencies"
                      >{{ currency.lookupName }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Effective Date
                </label>
                <div class="col-md-4">
                  <!--                  <p-calendar-->
                  <!--                    class="form-control"-->
                  <!--                    [monthNavigator]="true"-->
                  <!--                    [yearNavigator]="true"-->
                  <!--                    [showIcon]="true"-->
                  <!--                    yearRange="1900:2100"-->
                  <!--                    [inputStyle]="{ width: '100%' }"-->
                  <!--                    [style]="{-->
                  <!--                      width: '100%',-->
                  <!--                      'z-index': '999'-->
                  <!--                    }"-->
                  <!--                    formControlName="effectiveDate"-->
                  <!--                    [disabled]="true"-->
                  <!--                  ></p-calendar>-->
                  <input
                    type="date"
                    formControlName="effectiveDate"
                    class="form-control"
                    [value]="date1 | date: 'yyyy-MM-dd'"
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Investment Purpose
                </label>
                <div class="col-md-4">
                  <textarea
                    type="text"
                    formControlName="investmentPurpose"
                    name="investmentPurpose"
                    class="form-control"
                    style="resize: none"
                    disabled
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2">
                  Collection Date
                </label>
                <div class="col-md-4">
                  <!--                  <p-calendar-->
                  <!--                    class="form-control"-->
                  <!--                    [monthNavigator]="true"-->
                  <!--                    [yearNavigator]="true"-->
                  <!--                    [showIcon]="true"-->
                  <!--                    yearRange="1900:2100"-->
                  <!--                    [inputStyle]="{ width: '100%' }"-->
                  <!--                    [style]="{-->
                  <!--                      width: '100%',-->
                  <!--                      'z-index': '999'-->
                  <!--                    }"-->
                  <!--                    formControlName="collectionDate"-->
                  <!--                  ></p-calendar>-->
                  <input
                    type="date"
                    formControlName="collectionDate"
                    class="form-control"
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Amount Payable
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="amountPayable"
                    formControlName="amountPayable"
                    class="form-control"
                    disabled
                  />
                </div>
                <label for="" class="control-label col-md-2">
                  Tax Deducted
                </label>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="taxAmount"
                    formControlName="taxAmount"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-2 pr_0">
                  Select mode of payment
                </label>
                <div class="col-md-4">
                  <select
                    class="form-control"
                    name="paymentMode"
                    [(ngModel)]="paymentMode"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="">--Select Payment--</option>
                    <option value="1">Deposit Account</option>
                    <option value="2">Other Banks</option>
                  </select>
                </div>
                <ng-container *ngIf="paymentMode == 1">
                  <label for="" class="control-label col-md-2">
                    Account Number
                  </label>
                  <div class="col-md-4">
                    <select
                      class="form-control"
                      name="accountNumber"
                      formControlName="accountNumber"
                    >
                      <option value="">--Select Account Number</option>
                      <option [value]="accountNumber"
                        >{{ investorName }} {{ accountNumber }}</option
                      >
                    </select>
                  </div>
                </ng-container>
                <ng-container *ngIf="paymentMode == 2">
                  <label for="" class="control-label col-md-2">
                    Accounts
                  </label>
                  <div class="col-md-4">
                    <select
                      class="form-control"
                      name="accountNumber"
                      formControlName="accountNumber"
                    >
                      <option value="">--Select Account</option>
                      <option
                        *ngFor="let bank of bankDetails"
                        [value]="bank.accountNumber"
                        >{{ bank.bankName }} - {{ bank.accountNumber }}</option
                      >
                    </select>
                  </div>
                </ng-container>
              </div>
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button
                style="margin-right:5px"
                type="button"
                class="btn btn-primary pull-right"
                (click)="submitCollection(form)"
              >
                Save
              </button>
              <button
                type="button"
                style="margin-right:5px"
                class="btn btn-danger pull-right"
                (click)="goBack()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
