<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">
              {{ formTitle }}
            </h2>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="form-horizontal">
          <form novalidate [formGroup]="form">
            <div class="form-group">
              <label for="" class="control-label col-md-2">
                Requester Name
              </label>
              <div class="col-md-4">
                <input
                  type="text"
                  formControlName="requestBy"
                  name="requestBy"
                  class="form-control"
                  readonly
                />
              </div>

              <label for="" class="control-label col-md-2">
                PRN Number
              </label>
              <div class="col-md-4">
                <input
                  type="text"
                  [attr.disabled]="true"
                  formControlName="documentNumber"
                  name="documentNumber"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="" class="control-label col-md-2">
                Department
              </label>
              <div class="col-md-4">
                <select
                  type="text"
                  name="departmentId"
                  formControlName="departmentId"
                  id="departmentId"
                  class="form-control"
                >
                  <option value="">-- Select Department --</option>
                  <option
                    *ngFor="let item of departments"
                    [value]="item.companyStructureId"
                    >{{ item.name }}</option
                  >
                  <!--                  <option value="1">Sales</option>-->
                  <!--                  <option value="2">Marketing</option>-->
                </select>
              </div>

              <label for="" class="control-label col-md-2">
                Delivery Location
              </label>
              <div class="col-md-4">
                <input
                  type="text"
                  formControlName="deliveryLocation"
                  name="deliveryLocation"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="" class="control-label col-md-2">
                Expected Delivery Date
              </label>
              <div class="col-md-4">
                <p-calendar
                  id="expectedDeliveryDate"
                  formControlName="expectedDeliveryDate"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="1900:2030"
                  [showIcon]="true"
                  [inputStyle]="{ width: '100%' }"
                  [style]="{ width: '100%', 'z-index': '999' }"
                ></p-calendar>
<!--                <input type="date" class="form-control" formControlName="expectedDeliveryDate">-->
              </div>

              <label for="" class="control-label col-md-2">
                Total
              </label>
              <div class="col-md-4">
                <input
                  type="text"
                  [attr.disabled]="true"
                  formControlName="total"
                  name="total"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="" class="control-label col-md-2">
                Is Budgeted?
              </label>
              <div class="col-md-4">
                <input
                  type="checkbox"
                  formControlName="isBudgeted"
                  name="isBudgeted"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="" class="control-label col-md-2">
                Description
              </label>
              <div class="col-md-10">
                <textarea
                  type="text"
                  formControlName="description"
                  name="description"
                  rows="2"
                  cols="5"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </form>
          <hr />

          <div class="form-group">
            <div class="col-md-5">
              <fieldset>
                <legend>
                  ADD PRN DETAILS
                </legend>
                <form novalidate [formGroup]="detailForm">
                  <div class="form-group">
                    <label for="" class="control-label col-md-3">
                      Suggested Supplier
                    </label>
                    <div class="col-md-9">
                      <ng-select
                        [items]="selectedSuppliers"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="suggestedSupplierId"
                        [multiple]="true"
                      >
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.label}}
                        </ng-template>
                      </ng-select>
<!--                      <p-multiSelect-->
<!--                        [options]="selectedSuppliers"-->
<!--                        formControlName="suggestedSupplierId"-->
<!--                        styleClass="form-control"-->
<!--                        [filter]="true"-->
<!--                        [panelStyle]="{ minWidth: '25em' }"-->
<!--                      ></p-multiSelect>-->
                      <!--                      <div class="input-group">-->
                      <!--                        <input (focus)="openSearchBox()" type="text" class="form-control" formControlName="suggestedSupplierId"-->
                      <!--                               placeholder="Search Supplier" name="suggestedSupplierId">-->
                      <!--                        <div class="input-group-btn">-->
                      <!--                          <button (click)="openSearchBox()" style="padding-top:8px;padding-bottom:0px" class="btn btn-default"-->
                      <!--                                  type="button">-->
                      <!--                            <i class="glyphicon glyphicon-search"></i>-->
                      <!--                          </button>-->
                      <!--                        </div>-->
                      <!--                      </div>-->
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-3">
                      Description
                    </label>
                    <div class="col-md-9">
                      <textarea
                        type="text"
                        formControlName="description"
                        name="description"
                        rows="3"
                        cols="15"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-3">
                      Quantity
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        formControlName="noOfItems"
                        name="noOfItems"
                        class="form-control"
                        (input)="calculateSubTotal2($event.target.value)"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-3">
                      Unit Price
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        formControlName="unitPrice"
                        (input)="calculateSubTotal($event.target.value)"
                        name="unitPrice"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-3">
                      Sub Total
                    </label>
                    <div class="col-md-9">
                      <input
                        type="text"
                        [attr.disabled]="true"
                        formControlName="subTotal"
                        name="subTotal"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-3"
                      >Details</label
                    >
                    <div class="col-md-9">
                      <textarea
                        name=""
                        id=""
                        class="form-control"
                        style="resize: none"
                        formControlName="comment"
                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="budgeted" class="control-label col-md-3"
                      >Is Budgeted</label
                    >
                    <div class="col-md-9">
                      <input
                        id="budgeted"
                        type="checkbox"
                        formControlName="isBudgeted"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <button
                        type="button"
                        [disabled]="!detailForm.valid"
                        (click)="addToList(detailForm)"
                        class="btn btn-primary pull-right"
                      >
                        ADD TO LIST
                      </button>
                    </div>
                  </div>
                </form>
              </fieldset>
            </div>
            <div class="col-md-7">
              <fieldset>
                <legend>
                  LIST OF PRN DETAILS
                </legend>
                <p-table #dt [value]="prnDetails" [responsive]="true">
                  <ng-template pTemplate="caption"> </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="sn_width">S/N</th>
<!--                      <th>Suppliers</th>-->
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Sub Total</th>
                      <!--                      <th></th>-->
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-x let-i="rowIndex">
                    <tr>
                      <td class="sn_width">{{ i + 1 }}</td>
<!--                      <td class="table_link" (click)="editDetail(x, i)"></td>-->
                      <td class="table_link" (click)="editDetail(x, i)">
                        {{ x.description }}
                      </td>
                      <td class="table_link" (click)="editDetail(x, i)">
                        {{ x.quantity }}
                      </td>
                      <td class="table_link" (click)="editDetail(x, i)">
                        {{ x.unitPrice | number: "1.0" }}
                      </td>
                      <td class="table_link" (click)="editDetail(x, i)">
                        {{ x.subTotal | number: "1.0" }}
                      </td>
                      <!--                      <td>-->
                      <!--                        <a (click)="editDetail(x, i)">Edit</a>-->
                      <!--                      </td>-->
                      <td>
                        <a style="color: red" (click)="deleteDetail(x)"
                          >Delete</a
                        >
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <button
              style="margin-right:5px"
              type="button"
              [disabled]="!form.valid"
              (click)="submitPurchaseInfo(form)"
              class="btn btn-primary pull-right"
            >
              Save
            </button>
            <button
              type="button"
              style="margin-right:5px"
              class="btn btn-danger pull-right"
              (click)="goBack()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--real time search form-->
<p-dialog
  [responsive]="true"
  [(visible)]="displaySearchModal"
  modal="modal"
  id="searchModal"
  showEffect="fade"
  width="650"
>
  <div style="margin-bottom:0" class="panel panel-default">
    <div class="panel-heading">
      <div style="margin-left:0" class="row">
        <h2 class="panel-title pull-left">
          Search Supplier
        </h2>
      </div>
    </div>
    <div style="padding:3px" class="panel-body">
      <div class="form-group">
        <div class="col-md-12">
          <input
            type="text"
            id="search"
            (keyup)="searchDB($event.target.value)"
            class="form-control"
            placeholder="Type in your search parameter"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <p>
            <!--{{mfacilityType}}-->
          </p>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Registration Number</th>
                <th>Supplier Name</th>
                <th>Supplier Type</th>
              </tr>
            </thead>
            <tbody>
              <tr
                (click)="pickSearchedData(res)"
                style="cursor: pointer"
                *ngFor="let res of filteredSearchResults; let i = index"
              >
                <td>{{ res.registrationNo }}</td>
                <td>{{ res.name }}</td>
                <td>{{ res.supplierTypeName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
