    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="panel-title pull-left">
                        Customer Collateral
                    </h2>
                </div>
            </div>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="form">
                    <input
                    type="hidden"
                    formControlName="collateralCode"
                    name="collateralCode"
                    id="collateralCode"
                    class="form-control"
                />
                <div class="form-group">
                    <label for="" class="control-label col-md-2">
                        Collateral Type
                    </label>
                    <div class="col-md-4">
                        <select
                            type="text"
                            name="collateralTypeId"
                            formControlName="collateralTypeId"
                            id="collateralTypeId"
                            class="form-control"
                        >
                            <option value=""
                                >-- Select Collateral Type --</option
                            >
                            <option
                                *ngFor="let x of allowableCollateralTypes"
                                [value]="x.collateralTypeId"
                            >
                                {{ x.name }}</option
                            >
                        </select>
                    </div>
                    <label for="" class="control-label col-md-2">
                      Location
                    </label>
                  <div class="col-md-4">
                      <input
                          type="text"
                          formControlName="location"
                          name="location"
                          class="form-control"
                      >
                  </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-md-2">
                        Currency
                    </label>
                    <div class="col-md-4">
                        <select
                            type="text"
                            name="currencyId"
                            formControlName="currencyId"
                            id="currencyId"
                            class="form-control"
                        >
                            <option value=""
                                >-- Select Currency --</option
                            >
                            <option
                                *ngFor="let x of currencies"
                                [value]="x.lookupId"
                            >
                                {{ x.lookupName }}</option
                            >
                        </select>
                    </div>

                    <label for="" class="control-label col-md-2">
                        Collateral Value
                    </label>
                    <div class="col-md-4">
                        <input
                            type="number"
                            formControlName="collateralValue"
                            name="collateralValue"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-md-2">
                        Collateral Verification Status
                    </label>
                    <div class="col-md-4">
                        <input
                            type="checkbox"
                            formControlName="collateralVerificationStatus"
                            name="collateralVerificationStatus"
                        />
                    </div>
                    <label for="" class="control-label col-md-2">
                        Upload Collateral Document
                     </label>
                     <div class="col-md-4">
                        <input
                            style="height:35px;"
                            class="form-control"
                            type="file"
                            (change)="handleFileInput($event.target.files)"
                            id="file1"
                            accept=".xls,.xlsx"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-md-2">
                         Saved Document Name
                    </label>
                    <div class="col-md-4">
                        <input
                             style="height:35px;"
                             class="form-control"
                             name="documentName"
                             formControlName="documentName"
                             type="text"
                             id="documentName"
                                />
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
                      <button
                      style="margin-right:2px"
                      type="button"
                      [disabled]="!(validationCheck)"
                      class="btn btn-primary pull-right"
                      (click)="submitCollateralCustomerWithDocument(form)"
                      >
                      Add To List
                      </button>
                      <button
                        style="margin-right:5px"
                        type="button"
                        class="btn btn-danger pull-right"
                        (click)="clearForm()"
                        >
                        Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
          <div class="form-horizontal">
            <p-table
                #dt
                [columns]="cols"
                selectionMode="single"
                [value]="collateralCustomers"
                dataKey="collateralTypeId"
                [(selection)]="selectedCollateralCustomer"
                [responsive]="true"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="sn_width">S/N</th>
                        <th >Collateral Code</th>
                        <th >Collateral Type Name </th>
                        <th >Customer Name</th>
                        <th >Collateral Value </th>
                      <th></th>
                        <th ></th>
                        <th ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-x let-i="rowIndex">
                    <tr [pSelectableRow]="x">
                        <td class="sn_width">{{ i + 1 }}</td>
                        <td>{{ x.collateralCode }}</td>
                        <td>{{ x.collateralTypeName }}</td>
                        <td>{{ x.customerName }}</td>
                        <td>{{ x.collateralValue | number: "1.2" }}</td>
                        <td>
                            <a (click)="editCollateralCustomer(x)">Edit</a>
                        </td>
                      <td>
                        <a class="download-btn-link" (click)="downloadCollateral(x.collateralCustomerId)">Download</a>
                      </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteCollateralCustomer(x)">Delete</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <!-- <button
                    type="button"
                    (click)="displayCustomerCollateral = false"
                    style="margin-right:5px"
                    class="btn btn-danger pull-right"
                >
                    Cancel
                </button> -->
            </div>
        </div>
    </div>


