<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom: 0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">Claims</h2>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <p-tabView [activeIndex]="activeIndex" (onChange)="tabChange($event)">
          <p-tabPanel header="Claim Approvals">
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="row">
                  <div class="col-md-12">
                    <p-table
                      #dt
                      [columns]="cols"
                      [value]="claims"
                      dataKey="paymentProposalId"
                      [(selection)]="selectedItem"
                      [paginator]="false"
                      [responsive]="true"
                      [scrollable]="true"
                      [scrollHeight]="viewHeight"
                    >
                      <ng-template pTemplate="caption">
                        <div class="filter-flex">
                          <input
                            type="text"
                            pInputText
                            size="50"
                            class="form-control filter-input"
                            placeholder="Search..."
                            (keyup)="
                              dt.filterGlobal($event.target.value, 'contains')
                            "
                          />
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="checkbox_row">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th class="sn_width">S/N</th>
                          <th [pSortableColumn]="'claimNo'">Claim Number</th>
                          <th [pSortableColumn]="'employee'">Employee</th>
                          <th [pSortableColumn]="'departmentName'">Department</th>
                          <th [pSortableColumn]="'amountRequesting'">Amount</th>
                          <th pSortableColumn="purposeOfExpense">Purpose</th>
                          <th pSortableColumn="dateRequested">Date Requested</th>
                          <th>
                            Expense Classification
                          </th>
                          <th></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-x let-i="rowIndex">
                        <tr [pSelectableRow]="x">
                          <td class="checkbox_row">
                            <p-tableCheckbox [value]="x"></p-tableCheckbox>
                          </td>
                          <td class="sn_width">
                            <a class="table_link">{{ i + 1 }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{ x.claimNo }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{ x.employee }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{
                              x.departmentName | titlecase
                            }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{
                              x.amountRequesting | number: "1.2-2"
                            }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{
                              x.purposeOfExpense | titlecase
                            }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{
                              x.dateRequested | date
                            }}</a>
                          </td>
                          <td>
                            <a class="table_link">{{
                              x.classificationsetupQuery.name
                            }}</a>
                          </td>
                          <td>
                            <a class="table_link" (click)="viewDetails(x)"
                              >View</a
                            >
                          </td>
                          <td>
                            <a class="table_link">Approve</a>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Claim Details" [disabled]="!tabSelected">
            <app-claim [fromAproval]="fromApproval" [claimId]="claimId" [claimType]="claimType"></app-claim>
            <div class="ui-g">
              <div class="ui-g-12 no-padding">
                <div class="card no-padding">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h2 class="panel-title">CLAIM DETAILS</h2>
                    </div>
                    <div class="panel-body">
                      <p-table [value]="expenseDetail">
                       <ng-template pTemplate="header">
                         <tr>
                           <th>S/N</th>
                           <th>Description</th>
                           <th>Quantity</th>
                           <th>Unit Price</th>
                            <th>Subtotal</th>
                         </tr>
                       </ng-template>
                        <ng-template pTemplate="body" let-row let-i="rowIndex">
                          <tr>
                            <td>{{i + 1}}</td>
                            <td>{{row.description}}</td>
                            <td>{{row.quantity}}</td>
                            <td>{{row.unitCost | number: '1.2-2'}}</td>
                            <td>{{row.subTotal | number: '1.2-2'}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                </div>
              </div>
            </div>
              <div class="ui-g">
                <div class="ui-g-12 no-padding">
                  <div class="card no-padding">
                    <div style="margin-bottom: 0" class="panel panel-default">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-md-12">
                            <h2 class="panel-title pull-left">Approval</h2>
                          </div>
                        </div>
                      </div>

                      <div class="panel-body">
                        <div class="form-horizontal">
                          <div class="row">
                            <div class="col-md-12">
                              <div style="display: flex">
                                <label class="col-md-2 control-label">
                                  <strong>Comment</strong>
                                </label>

                                <div class="col-md-4">
                                  <textarea
                                    class="form-control"
                                    [(ngModel)]="claimDetails.approvalComment"
                                    name="comment"
                                    cols="15"
                                    rows="3"
                                  ></textarea>
                                </div>

                                <label class="col-md-2 control-label">
                                  <strong>Status</strong>
                                </label>
                                <div class="col-md-4">
                                  <select
                                    name="approvalStatusId"
                                    id="approvalStatusId"
                                    class="form-control"
                                    (change)="getValue($event.target.value)"
                                    [(ngModel)]="claimDetails.approvalStatus"
                                    [ngClass]="
                                      !claimDetails.approvalStatus
                                        ? 'required-input'
                                        : 'valid-input'
                                    "
                                  >
                                    <option value="">
                                      --- Select Approval ---
                                    </option>
                                    <option value="2">Approve</option>
                                    <option value="3">Disapprove</option>
                                    <option value="5">Revert</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <div class="row">
                          <div class="col-md-12">
                            <button
                              type="submit"
                              [disabled]="
                                !claimDetails.approvalComment ||
                                !claimDetails.approvalStatus
                              "
                              (click)="submitApproval(claimDetails)"
                              class="btn btn-success pull-right"
                            >
                              Save
                            </button>
                            <button
                              type="button"
                              (click)="activeIndex = 0"
                              style="margin-right: 5px"
                              class="btn btn-danger pull-right"
                            >
                              Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Approval Details" [disabled]="!tabSelected">
            <app-approval-details
              [approvalDetails]="approvalDetails"
            ></app-approval-details>
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <!-- <button pButton type="button" class="btn btn-primary pull-right" *ngIf="activeIndex < 5" (click)="openNext()" icon="pi pi-less-than" iconPos="right"
                label="Next"></button>
            <button pButton type="button" class="btn btn-primary pull-right" style="margin-right:10px" *ngIf="activeIndex > 0" (click)="openPrev()" icon="pi pi-greater-than" iconPos="left"
                label="Previous"></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [responsive]="true"
  [(visible)]="showDialog"
  id="modal"
  modal="modal"
  showEffect="fade"
  width="800"
>
  <div style="margin-bottom: 0; width: 700px" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Revert to staff</h2>
    </div>

    <div class="panel-body" style="margin: 0 30px">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="staff" class="control-label col-md-2">Staffs</label>
          <select
            name="staff"
            id="staff"
            class="form-control"
            [(ngModel)]="staffId"
            (change)="dismissDialog()"
          >
            <option value="" [selected]="true" [disabled]="true">
              --Select Staff--
            </option>
            <option *ngFor="let item of staffs" [value]="item.staffId">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
