<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div style="margin-bottom:0" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left">
                                {{ formTitle }}
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-horizontal">
                        <form novalidate [formGroup]="form">
                            <div class="form-group">
                                <!-- <label for="" class="control-label col-md-2">
                                    Company
                                </label>
                                <div class="col-md-4">
                                    <select type="text" name="companyId" formControlName="companyId" id="companyId" class="form-control" (change)="getGLByCompany($event.target.value)">
                                        <option value="">-- Select Company --</option>
                                        <option *ngFor="let row of companyInformation" [value]="row.companyStructureId">
                                                                                                                                                                      {{ row.name }}
                                                                                                                    </option>
                                    </select>
                                </div> -->

                                <label for="" class="control-label col-md-2">
                                    Year
                                </label>
                                <div class="col-md-4 mb_5">
                                    <input
                                        type="text"
                                        formControlName="name"
                                        name="name"
                                        class="form-control"
                                    />
                                </div>
                                <label for="" class="control-label col-md-2">
                                    Status
                                </label>
                                <div class="col-md-4 mb_5">
                                    <select
                                        name="status"
                                        class="form-control"
                                        formControlName="status"
                                        id=""
                                    >
                                        <option value="" selected disabled
                                            >-- Select Status --</option
                                        >
                                        <option value="1">Open</option>
                                        <option value="2">Closed</option>
                                    </select>
                                </div>

                                <label for="" class="control-label col-md-2">
                                    Start Date
                                </label>
                                <div class="col-md-4 mb_5">
                                    <p-calendar
                                        [monthNavigator]="true"
                                        [yearNavigator]="true"
                                        [showIcon]="true"
                                        yearRange="1900:2100"
                                        [inputStyle]="{ width: '100%' }"
                                        [style]="{
                                            width: '100%',
                                            'z-index': '999'
                                        }"
                                        formControlName="startDate"
                                    ></p-calendar>
<!--                                  <input type="date" class="form-control" formControlName="startDate">-->
                                </div>

                                <label for="" class="control-label col-md-2">
                                    End Date
                                </label>
                                <div class="col-md-4 mb_5">
                                    <p-calendar
                                        [monthNavigator]="true"
                                        [yearNavigator]="true"
                                        [showIcon]="true"
                                        yearRange="1900:2100"
                                        [inputStyle]="{ width: '100%' }"
                                        [style]="{
                                            width: '100%',
                                            'z-index': '999'
                                        }"
                                        formControlName="endDate"
                                    ></p-calendar>
<!--                                  <input type="date" class="form-control" formControlName="endDate">-->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button
                                style="margin-right:5px"
                                type="button"
                                [disabled]="!form.valid"
                                class="btn btn-primary pull-right"
                                (click)="submitFinancialYear(form)"
                            >
                                Save
                            </button>
                            <button
                                type="button"
                                style="margin-right:5px"
                                class="btn btn-danger pull-right"
                                (click)="goBack()"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
