<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">
              Customers Information
            </h2>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised ui-button-danger"
                (click)="multipleDelete()"
                icon="ui-icon-delete"
                iconPos="center"
                pTooltip="Delete"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised"
                (click)="showAddNew()"
                icon="ui-icon-plus"
                iconPos="center"
                pTooltip="Add"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                style="padding:0.5em 0"
                type="button"
                class="ui-button-raised ui-button-secondary"
                (click)="exportLoanCustomer()"
                icon="ui-icon-file-download"
                pTooltip="Download"
                tooltipPosition="top"
                iconPos="center"
                label=""
              ></button>
            </div>
            <div
              style="padding-right: 5px;padding-left: 5px;width: 45px;"
              class="col-md-1 pull-right"
            >
              <button
                pButton
                type="button"
                style="padding:0.5em 0"
                class="ui-button-raised ui-button-secondary"
                (click)="uploadLoanCustomers()"
                icon="ui-icon-file-upload"
                iconPos="center"
                pTooltip="Excel file: Username, Email, PhoneNumber, StaffCode, UserRoleName"
                tooltipPosition="top"
                label=""
              ></button>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
              <input
                style="height:35px;"
                class="form-control"
                type="file"
                (change)="handleFileInput($event.target.files)"
                id="file1"
                accept=".xls,.xlsx"
                #fileInput
                name="fileInput"
              />
            </div>

            <div *ngIf="!operatingAccount" class="col-md-3 col-sm-6 col-xs-12 pull-right">
              <button
                pButton
                type="button"
                class="btn btn-success pull-right"
                (click)="openSearchBox()"
                icon="pi pi-plus"
                iconPos="left"
                label="Add From Deposit"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="form-horizontal">
          <p-table
              #dt
              [columns]="cols"
              [value]="loanCustomerInformation"
              dataKey="customerId"
              [(selection)]="selectedLoanCustomerInformation"
              [paginator]="false"
              [rows]="loanCustomerInformation?.length"
              [responsive]="true"
              [scrollable]="true"
              [scrollHeight]="viewHeight"
          >
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <input
                  type="text"
                  pInputText
                  size="50"
                  class="form-control"
                  placeholder="Search..."
                  (keyup)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                  style="width:auto"
                />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="checkbox_row">
                  <p-tableHeaderCheckbox>
                  </p-tableHeaderCheckbox>
                </th>
                <th class="sn_width">S/N</th>
                <th >Customer Type</th>
                <th >Customer Name</th>
                <!-- <th>Reg. Number</th> -->
                <th>Email</th>
                <th>Phone Number</th>
                <!--                                <th style="width:5em"></th>-->
                <!--                                <th style="width:5em"></th>-->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-x let-i="rowIndex">
              <tr [pSelectableRow]="x">
                <td class="checkbox_row">
                  <p-tableCheckbox
                    [value]="x"
                  ></p-tableCheckbox>
                </td>
                <td class="sn_width"><a class="table_link"
                                        (click)="editLoanCustomer(x)">{{ i + 1 }}</a></td>
                <td><a class="table_link"
                       (click)="editLoanCustomer(x)">{{ x.customerTypeName }}</a></td>
                <td><a class="table_link"
                       (click)="editLoanCustomer(x)">{{ x.firstName }} {{
                    x.lastName }}</a></td>
                <!-- <td>{{ x.registrationNo }}</td> -->
                <td><a class="table_link"
                       (click)="editLoanCustomer(x)">{{ x.email }}</a></td>
                <td><a class="table_link"
                       (click)="editLoanCustomer(x)">{{ x.phoneNo }}</a></td>
                <!--                                <td>-->
                <!--                                    <a (click)="editLoanCustomer(x)">Edit</a>-->
                <!--                                </td>-->
                <!--                                <td>-->
                <!--                                    <a (click)="deleteLoanCustomer(x)"-->
                <!--                                        >Delete</a-->
                <!--                                    >-->
                <!--                                </td>-->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [responsive]="true"
  [(visible)]="displaySearchModal"
  modal="modal"
  id="searchModal"
  showEffect="fade"
  width="650"
>
  <div style="margin-bottom:0" class="panel panel-default">
    <div class="panel-heading">
      <div style="margin-left:0" class="row">
        <h2 class="panel-title pull-left">
          Search Customer
        </h2>
      </div>
    </div>
    <div style="padding:3px" class="panel-body">
      <div class="form-group">
        <div class="col-md-12">
          <input
            type="text"
            id="search"
            (keyup)="searchDB($event.target.value)"
            class="form-control"
            placeholder="Type in your search parameter"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <p>
            <!--{{mfacilityType}}-->
          </p>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Customer Type</th>
              <th>Customer Name</th>
              <th>CustomerId</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr
              (click)="pickSearchedData(res)"
              style="cursor: pointer"
              *ngFor="
                                    let res of filteredSearchResults;
                                    let i = index
                                "
            >
              <td>{{ res.customerTypeName }}</td>
              <td>{{ res.firstName }} {{ res.lastName }}</td>
              <td>{{ res.customerId }}</td>
              <td>
                <a (click)="editCustomerFromDeposit(res)"
                >Apply</a
                >
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
