<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left">
                {{ formTitle }}
              </h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <form novalidate [formGroup]="form">
              <div class="form-group">
                <label for="name" class="control-label col-md-2"
                >Bank Name</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    name="name"
                    formControlName="bankName"
                    id="name"
                    class="form-control"
                  />
                </div>
                <label for="subGl" class="control-label col-md-2">
                  Sub GL
                </label>
                <div class="col-md-4">
                  <p-dropdown
                    [options]="glArr"
                    formControlName="subGl"
                    placeholder="Select an item"
                    [filter]="true"
                    [filterBy]="'label'"
                    class="form-control"
                    [style]="{ width: '100%' }"
                    id="subGl"
                  >
                    <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:middle; margin-left: .5em">{{
                          item.label
                        }}</span>
                    </ng-template>
                    <ng-template let-x pTemplate="item">
                      <div
                        class="ui-helper-clearfix"
                        style="position: relative;height: 25px;"
                      >
                        <div style="font-size:14px;margin-top:4px">
                          {{ x.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button
                style="margin-right:5px"
                type="button"
                [disabled]="!form.valid"
                class="btn btn-primary pull-right"
                (click)="submitInfo(form)"
              >
                Save
              </button>
              <button
                type="button"
                style="margin-right:5px"
                class="btn btn-danger pull-right"
                (click)="goBack()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
