<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left">
                            Investor List Information
                        </h2>
                        <div
                            style="padding-right: 5px;padding-left: 5px;width: 45px;"
                            class="col-md-1 pull-right"
                        >
                            <button
                                pButton
                                style="padding:0.5em 0"
                                type="button"
                                class="ui-button-raised ui-button-danger"
                                (click)="multipleDelete()"
                                icon="ui-icon-delete"
                                iconPos="center"
                                pTooltip="Liquidate"
                                tooltipPosition="top"
                                label=""
                            ></button>
                        </div>
                        <div
                            style="padding-right: 5px;padding-left: 5px;width: 45px;"
                            class="col-md-1 pull-right"
                        >
                            <button
                                pButton
                                style="padding:0.5em 0"
                                type="button"
                                class="ui-button-raised"
                                (click)="showAddNew()"
                                icon="ui-icon-plus"
                                iconPos="center"
                                pTooltip="Invest"
                                tooltipPosition="top"
                                label=""
                            ></button>
                        </div>
<!--                        <div-->
<!--                            style="padding-right: 5px;padding-left: 5px;width: 45px;"-->
<!--                            class="col-md-1 pull-right"-->
<!--                        >-->
<!--                            <button-->
<!--                                pButton-->
<!--                                style="padding:0.5em 0"-->
<!--                                type="button"-->
<!--                                class="ui-button-raised ui-button-secondary"-->
<!--                                (click)="exportFSCaption()"-->
<!--                                icon="ui-icon-file-download"-->
<!--                                pTooltip="Rollover"-->
<!--                                tooltipPosition="top"-->
<!--                                iconPos="center"-->
<!--                                label=""-->
<!--                            ></button>-->
<!--                        </div>-->
<!--                        <div-->
<!--                            style="padding-right: 5px;padding-left: 5px;width: 45px;"-->
<!--                            class="col-md-1 pull-right"-->
<!--                        >-->
<!--                            <button-->
<!--                                pButton-->
<!--                                type="button"-->
<!--                                style="padding:0.5em 0"-->
<!--                                class="ui-button-raised ui-button-secondary"-->
<!--                                (click)="uploadFSCaption()"-->
<!--                                icon="ui-icon-file-upload"-->
<!--                                iconPos="center"-->
<!--                                pTooltip="Collection"-->
<!--                                tooltipPosition="top"-->
<!--                                label=""-->
<!--                            ></button>-->
<!--                        </div>-->
<!--                        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">-->
<!--                            <input-->
<!--                                style="height:35px;"-->
<!--                                class="form-control"-->
<!--                                type="file"-->
<!--                                (change)="handleFileInput($event.target.files)"-->
<!--                                id="file1"-->
<!--                                accept=".xls,.xlsx"-->
<!--                                #fileInput-->
<!--                                name="fileInput"-->
<!--                                #fileInput-->
<!--                                name="fileInput"-->
<!--                            />-->
<!--                        </div>-->
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <p-table
                        #dt
                        [columns]="cols"
                        [value]="investments"
                        dataKey="invInvestorFundId"
                        [(selection)]="selectedInvestment"
                        [paginator]="false"
                        [rows]="investments?.length"
                        [responsive]="true"
                        [scrollable]="true"
                        [scrollHeight]="viewHeight"
                    >
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <input
                                    type="text"
                                    pInputText
                                    size="50"
                                    class="form-control"
                                    placeholder="Search..."
                                    (keyup)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    "
                                    style="width:auto"
                                />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
<!--                                <th class="checkbox_row">-->
<!--                                    <p-tableHeaderCheckbox>-->
<!--                                    </p-tableHeaderCheckbox>-->
<!--                                </th>-->
<!--                                <th class="sn_width">S/N</th>-->
<!--                                <th>Ref number</th>-->
<!--                                <th>Effective Date</th>-->
                                <th>Customer name</th>
                                <th>Customer Type</th>
                                <th>Expected Interest</th>
                                <th>Current Balance</th>
<!--                                <th></th>-->
<!--                                <th></th>-->
<!--                                <th></th>-->
<!--                                <th></th>-->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-x let-i="rowIndex">
                            <tr [pSelectableRow]="x">
<!--                                <td class="checkbox_row">-->
<!--                                    <p-tableCheckbox-->
<!--                                        [value]="x"-->
<!--                                    ></p-tableCheckbox>-->
<!--                                </td>-->
<!--                                <td class="sn_width">-->
<!--                                    <a-->
<!--                                        class="table_link"-->
<!--                                        (click)="editLoanCustomer(x)"-->
<!--                                        >{{ i + 1 }}</a-->
<!--                                    >-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <a-->
<!--                                        class="table_link"-->
<!--                                        (click)="editLoanCustomer(x)"-->
<!--                                        >{{ x.customerTypeName }}</a-->
<!--                                    >-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <a-->
<!--                                        class="table_link"-->
<!--                                        (click)="editLoanCustomer(x)"-->
<!--                                        >{{ x.effectiveDate | date}}</a-->
<!--                                    >-->
<!--                                </td>-->
                                 <td>
                                     <a class="table_link"
                                        (click)="editLoanCustomer(x)">{{x.investorName}}</a>
                                 </td>
                                <td>
                                    <a class="table_link"
                                       (click)="editLoanCustomer(x)">{{x.customerTypeName}}</a>
                                </td>
                                <td>
                                    <a
                                        class="table_link"
                                        (click)="editLoanCustomer(x)"
                                        >{{ x.expectedInterest }}</a
                                    >
                                </td>
                                <td>
                                    <a class="table_link" (click)="editLoanCustomer(x)">{{x.currentBalance}}</a>
                                </td>
<!--                                <td><a class="link_deco" (click)="invest(x)">Invest</a></td>-->
<!--                                <td><a class="link_deco" (click)="collection(x)">Collection</a></td>-->
<!--                                <td><a class="link_deco" (click)="liquidate(x)">Liquidate</a></td>-->
<!--                                <td><a href="#">Rollover</a></td>-->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
