.pmt-btn {
  color: #fff;
  border: 1px solid #fff;
  background: #00a689;
  border-radius: 5px;
}

.pmt-btn:hover {
  background: #fff;
  border: 1px solid #00a689;
  color: #00a689;
}
.save-btn {
  color: #fff;
  border: 1px solid #fff;
  background: #3a7be0;
  border-radius: 5px;
}

.save-btn:hover {
  background: #fff;
  border: 1px solid #3a7be0;
  color: #3a7be0;
}
.bw {
  word-break: break-word;
}
