<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left">
              Deposit Account Type
            </h2>
            <div style="padding-right: 5px;padding-left: 5px;width: 45px;" class="col-md-1 pull-right">
              <button pButton style="padding:0.5em 0" type="button" class="ui-button-raised ui-button-danger"
                (click)="multipleDelete()" icon="ui-icon-delete" iconPos="center" pTooltip="Delete"
                tooltipPosition="top" label=""></button>
            </div>
            <div style="padding-right: 5px;padding-left: 5px;width: 45px;" class="col-md-1 pull-right">
              <button pButton style="padding:0.5em 0" type="button" class="ui-button-raised" (click)="showAddNew()"
                icon="ui-icon-plus" iconPos="center" pTooltip="Add" tooltipPosition="top" label=""></button>
            </div>
            <div style="padding-right: 5px;padding-left: 5px;width: 45px;" class="col-md-1 pull-right">
              <button pButton style="padding:0.5em 0" type="button" class="ui-button-raised ui-button-secondary"
                (click)="exportSetup()" icon="ui-icon-file-download" pTooltip="Download" tooltipPosition="top"
                iconPos="center" label=""></button>
            </div>
            <div style="padding-right: 5px;padding-left: 5px;width: 45px;" class="col-md-1 pull-right">
              <button pButton type="button" style="padding:0.5em 0" class="ui-button-raised ui-button-secondary"
                (click)="uploadSetup()" icon="ui-icon-file-upload" iconPos="center"
                pTooltip="Excel file: Name, Description" tooltipPosition="top" label=""></button>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
              <input style="height:35px;" class="form-control" type="file"
                (change)="handleFileInput($event.target.files)" id="file1" accept=".xls,.xlsx" #fileInput
                name="fileInput" />
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="form-horizontal">
          <p-table #dt [value]="accountType" [columns]="cols" dataKey="accountTypeId"
            [(selection)]="selectedaccountType" [paginator]="false" [rows]="accountType?.length" [scrollable]="true"
            [scrollHeight]="viewHeight" [responsive]="true">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <input type="text" pInputText size="50" class="form-control" placeholder="Search..." (keyup)="
                                        dt.filterGlobal(
                                            $event.target.value,
                                            'contains'
                                        )
                                    " style="width: auto;
                                background: #fff;
                                border-radius: 3px;
                                padding-left: 10px;" />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="checkbox_row">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'name'">Name
                </th>
                <th [pSortableColumn]="'description'">Description
                </th>
                <th [pSortableColumn]="'accountNunmberPrefix'">Account number prefix</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-x let-i="rowIndex">
              <tr [pSelectableRow]="x">
                <td class="checkbox_row">
                  <p-tableCheckbox [value]="x"></p-tableCheckbox>
                </td>
                <td class="table_link" (click)="editAccountType(x)">{{ x.name }}</td>
                <td class="table_link" (click)="editAccountType(x)">{{ x.description }}</td>
                <td class="table_link" (click)="editAccountType(x)">{{ x.accountNunmberPrefix }}</td>
                <!--                                <td>-->
                <!--                                    <a (click)="editAccountType(x)">Edit</a>-->
                <!--                                </td>-->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>